<%- include('../partials/header') %> 

<h1 class="topPad">New Testimonial</h1>
    <div class="container newGalContain">
        <form action="/testimonials" method="POST">
            <div class="form-group">
                <label for="quote">Testimony</label>
                <input id="quote" class="form-control" type="text" placeholder="Testimony" name="quote">
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" class="form-control" type="text" placeholder="Name" name="name">
            </div>
           
            <div class="form-group">
                <button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
            </div>
        </form>
    </div>
    
    <%- include('../partials/footer') %> 