<%- include('partials/header') %>

<div id="about">
  <div id="aboutContent" class="rounded">
    <h1>About Me</h1>
    <% if(abouts.length == 1){ %>
      <p><%= abouts[0].about %></p>
    <% } %> 
  </div>

<%- include('partials/footer') %>