<%- include('partials/header') %>

<div id="about">
  <div id="aboutFooter">
    <div id="aboutContent" class="rounded">
      <h1>About Me 
        <% if(currentUser){ %>
        <% if(abouts.length ==  0){ %>
        <a href="/about/new"><i class="fas fa-plus"></i></a> 
        <% } %>
        <a href="/about/<%= abouts[0].id %>/edit"><i class="fas fa-pencil-alt"></i></a>
        <% } %>
      </h1>
      <% if(abouts.length == 1){ %>
        <p><%= abouts[0].about %></p>
      <% } %>
        
    </div>
    
  </div>
    
  <footer>
    <span><i class="far fa-copyright"></i> Danene Copping 2020 - All Rights Reserved</span>
</footer>

</div>


<%- include('partials/footer') %>