<%- include('./partials/header') %>

<div class="container topPad">
    <div class="content">
        <h1>Deleting Announcement</h1>
        <div class="container newGalContain">
            <h3 class="mt-5">Are you sure you want to delete the announcement?</h3>
            <form class="delete-form mt-3" action="/announcement/<%= announcement._id%>?_method=DELETE" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
                <input class="btn btn-info" type="button" onclick="history.go(-1);" value="Back">
            </form>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>