<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/65c28df05f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Danene Copping</title>
</head>
<body>
  <div class="container">
    <nav id="navProp" class="navbar fixed-top navbar-expand-lg bg-light">
      <a class="navbar-brand pl-5" href="#">Danene Copping</a>
      <button class="custom-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse justify-content-end pr-5 navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" data-toggle="collapse" data-target="#navbarNav">
            <a class="nav-link"  href="#landing">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target="#navbarNav">
            <a class="nav-link" href="#gallery">Galleries</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target="#navbarNav">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item" data-toggle="collapse" data-target="#navbarNav">
            <a class="nav-link"  href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div id="landing" class="pages">
    <div id="landingContent">
      <h1>Danene Copping</h1>
      <a href="#gallery">Browse my gallery</a>
    </div>
  </div>
  <div id="gallery" class="pages">
    <h1>Gallery</h1>
    <div class="row justify-content-start">
      <div class="col-lg-3 col-6">
        <div class="card">
          <img class="card-img-top rounded border" src="https://danenecopping.weebly.com/uploads/4/5/9/9/4599393/9624317_orig.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="card">
          <img class="card-img-top rounded border" src="https://danenecopping.weebly.com/uploads/4/5/9/9/4599393/4302618_orig.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="card">
          <img class="card-img-top" src="https://danenecopping.weebly.com/uploads/4/5/9/9/4599393/2035243_orig.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="card">
          <img class="card-img-top" src="https://danenecopping.weebly.com/uploads/4/5/9/9/4599393/7367226_orig.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="card">
          <img class="card-img-top" src="https://danenecopping.weebly.com/uploads/4/5/9/9/4599393/1581613_orig.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="about" class="pages">
    <div id="aboutContent" class="rounded">
      <h1>About Me</h1>
      <p>Danene Copping is a Canadian artist, experienced in various mediums she excels in graphite/charcoal drawings.  It was very early in life that her parents saw an obvious gift and helped guide her talent, engaging her passion and from this all things creative grew.  Danene has spent her entire life drawing beautiful things, her attention to detail is what draws emotion from each piece and you cannot help but notice the pride she takes in the quality of her work. Danene continues to produce original pieces that portray the inherent beauty of nature as well as creating beautiful representations of loved family members.</p>
    </div>
  </div>
  <div id="contact" class="pages">
    <div id="contactContent" class="rounded">
      <h1>Contact</h1>
      <div class="headingDiv">
        <h5><i class="fas fa-envelope"></i> email@example.ca</h5>
        <h5><i class="fas fa-phone"></i> 613-123-4567</h5>
      </div>
    </div>
    <footer>
      <span><i class="far fa-copyright"></i> Danene Copping 2020 - All rights reserved</span>
    </footer>
  </div>
    


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</body>
</html>