body {
    height: 100%;
    width: 100%;
    text-align: center;
}

a {
    color: black;
    
   
}

a:hover {
    color: darkgray;
    text-decoration: none;
}

h5 {
    margin: 3rem auto;
}

footer {
    margin-top: 12rem;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(78,65,59, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler:focus {
    outline: none;  
}

.pages {
    height: 100vh;
}

.card {
    margin-bottom: 2rem;
    
}

.row {
    margin: 0;
    padding-top: 2rem;
    
}


#landing {
    background-image: url('https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#landingContent {  
    padding-top: 40vh;
}

#gallery {
    background-color: white;
    height: 100%;
}

#gallery h1 {
    padding-top: 3rem;
}

#about {
    background-image: url('https://images.unsplash.com/photo-1471666875520-c75081f42081?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1138&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;  
    padding-top: 4rem;
}

#aboutContent {
    margin: 0 auto;
    padding: 2rem 2rem;
    text-align: left;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.8)
}

#aboutContent p {
    margin-top: 2rem;
    text-indent: 3rem;
    line-height: 2rem;
}

#contact {
    background-image: url('https://images.unsplash.com/photo-1525278070609-779c7adb7b71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1030&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem 2rem;
}

#contactContent {
    padding: 2rem 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 50%;
    margin: 0 auto;
    
}

#navProp a {
    margin-right: 3rem;
}



/* MOBILE RESPONSIVE */

@media (max-width: 900px){

    footer{
        margin-top: 16rem;
    }

    .navbar-brand {
        margin-left: -2rem;
    }

    #about {
        height: 100%;
        padding-bottom: 2rem;
    }

    #aboutContent, #contactContent {
        width: 100%;
    }

    #contact {
        height: 40rem;
    }


    #navProp {
        text-align: left;
    }

  

}