body {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: black;
}

a:hover {
    color: darkgray;
    text-decoration: none;
}

h5 {
    margin: 3rem auto;
}

footer {
   padding-top: 1rem;
}


.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(78,65,59, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler:focus {
    outline: none;  
}

.pages {
    height: 58rem;
}

.pages h1 {
    font-family: 'Cedarville Cursive', cursive;
}

.card {
    margin-bottom: 2rem;
}

.card h5 {
    margin-bottom: 1rem;
    margin-top: 0;
}

.card img {
    height: 15rem;
}


.row {
    margin: 0;
    padding-top: 2rem;
    
}

.headingDiv {
    padding-top: 2rem;
}

.topPad {      /* Adds padding for flash messages and login/sign up forms */
    padding-top: 4rem;
}

.newGalContain {
    width: 50%;
}



#landing {
    background-image: url('https://scontent.fybz2-1.fna.fbcdn.net/v/t1.15752-9/105950556_291846598677752_6618222457842379419_n.jpg?_nc_cat=111&_nc_sid=b96e70&_nc_ohc=5789nlL1BBIAX_1ePcl&_nc_ht=scontent.fybz2-1.fna&oh=57b4145bc16cc3b3b6da36aaaa1f1462&oe=5F1A3D41');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#landingContent {  
    padding-top: 20rem;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-family: cursive;
    
}

#landingContent h1 {
    font-size: 6rem;
    font-family: 'Crafty Girls', cursive;
}

#landingContent a {
    color: white;
    text-shadow: 4px 4px 4px black;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

#landingContent a:hover {
    color: black;
}

#gallery {
    background-image: url('https://scontent.fybz2-2.fna.fbcdn.net/v/t1.15752-9/100985376_559416638110408_5014091095051599872_n.jpg?_nc_cat=106&_nc_sid=b96e70&_nc_ohc=jjCaoSHUcwIAX_HPUUG&_nc_ht=scontent.fybz2-2.fna&oh=6004646bd1ef648604ae4536f4cdecc8&oe=5F18C22E');
    background-repeat: no-repeat;
    background-size: cover;
}

#gallery h1 {
    padding-top: 4rem;
}

#galleryCarousel {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

#galleryCarousel img {
    height: 40rem;
    margin: 1.5rem auto;
    width: 70%;
}

#about {
    background-image: url('https://scontent.fybz2-1.fna.fbcdn.net/v/t1.15752-9/105041194_941291749625933_3404644404745396140_n.jpg?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=JUNUeIl8TdwAX80Dgyh&_nc_ht=scontent.fybz2-1.fna&oh=3903add19fb9fc101bd23671d0aa789c&oe=5F1A8D6E');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;  
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 100%;
}

#aboutContent {
    margin: 0 auto;
    padding: 2rem 2rem;
    text-align: left;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.6)
    
}

#aboutContent p {
    margin-top: 2rem;
    text-indent: 3rem;
    line-height: 2rem;
    font-weight: bold;
  
}

#contact {
    background-image: url('https://scontent.fybz2-2.fna.fbcdn.net/v/t1.15752-9/105549142_2671142903099455_419925645516961283_n.jpg?_nc_cat=105&_nc_sid=b96e70&_nc_ohc=fMp9-SS9Xv0AX9IPJpM&_nc_ht=scontent.fybz2-2.fna&oh=930cd23d8eced9ca8bfdbbbc308a2a8d&oe=5F17A388');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

#contact a:hover {
    color: white;
}

#contactContent {
    padding: 2rem 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

#socialMedia {
    font-size: 2rem;
    width: 50%;
    padding-top: 18rem;
    margin: 0 auto;
}


#navProp a {
    margin-right: 3rem;
}

#signedInAs {
    margin: 0;
}

#price::-webkit-outer-spin-button,
#price::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* MOBILE RESPONSIVE */

@media (max-width: 960px){

    
    #aboutContent, #contactContent {
        width: 70%;
    }

    #galleryCarousel {
        height: 100%;
        width: 80%;
        margin: 0 auto;
    }
    
    #galleryCarousel img {
        margin: 2rem auto;
        width: 100%;
    }

    #socialMedia {
        padding-top: 18rem;
    }

}

@media (max-width: 630px){

    footer {
        padding-top: 2rem;
        font-family: 'Times New Roman', Times, serif;
    }

    .navbar-brand {
        margin-left: -2rem;
    }

    .newGalContain {
        width: 80%;
    }


    #landing {
        height: 40rem;
    }

    #landingContent h1 {
        font-size: 3rem;
    }

    #about {
        height: 100%;
        padding-bottom: 2rem;
    }

    #aboutContent, #contactContent {
        width: 95%;
    }

    #contact {
        height: 100%;
    }


    #navProp {
        text-align: left;
    }

    #gallery {
        height: 40rem;
    }

    #galleryCarousel {
        height: 50%;
        width: 100%;
        margin: 0 auto;
    }
    
    #galleryCarousel img {
        height: 22rem;
        margin: 3rem auto;
        width: 75%;
    }

    #socialMedia {
        padding-top: 6rem;
    }

}
